.display-flex{
  display: flex;
}

.display-none{
  display: none;
}

.text-center{
  text-align: center;
}

.td-none{
  text-decoration: none;
}

.bgc-gray{
  background-color: $bgc-gray;
}

.width-100{
  width: 100%;
}