.post__detail{
  padding: 40px;
  margin: 0 auto;
  background-color: #f8f8f8;
  &__inner{
    width: 700px;
    margin: 0 auto;
    &__top{
      &__item{
        background-color: white;
        padding: 20px 40px 40px;
        &__name{
          text-align: center;
          font-weight: bold;
          font-size: 24px;
        }
        &__body{
          display: flex;
          flex-direction: column;
          width: 100%;
          align-items: center;
          margin: 16 auto 0;
          &__picture{
            object-fit: cover;
            height: 346px;
          }
          &__subpicture{
            &__lists{
              display: flex;
              &__list{
                margin: 0 10px;
              }
            }
          }
          
        }
        &__price{
          margin: 0px 0 24px;
          text-align: center;
          display: flex;
          flex-direction: column;
          font-size: 46px;
          font-weight: bold;
          &-detail{
            font-size: 16px;
            font-weight: normal;
          }
        }
        &__buy{
          @include detail-btn();
          background: #3CCACE;
          -webkit-transition: all ease-out .3s;
          transition: all ease-out .3s;
        }
        &__change{
          @include detail-btn();
          &__edit{
            @include change-btn;
          }
          &__delete{
            @include change-btn();
            background: #aaa;
          }
        }
        &__introduce{
          line-height: 1.5;
          font-size: 18px;
          margin-bottom: 30px;
        }
        &__table{
          margin-bottom: 20px;
          table{
            width: 100%;
            height: 375px;
            border-collapse: collapse;
            border: 1px solid #f8f8f8;
            tr{
              display: table-row;
              vertical-align: inherit;
              border-color: inherit;
              th{
                width: 20%;
                background-color: #eee;
                font-weight: 400;
                padding: 8px;
                border: 1px solid #dedede;
                font-size: 14px;
                text-align: center;
              }
              td{
                width: 61%;
                padding: 15px 15px;
                border: 1px solid #dedede;
                font-size: 14px;
              }
            }
          }
        }
        &__option{
          display: flex;
          justify-content: space-between;
          &__favorite{
            margin: 10px 0 0;
            display: flex;
            margin-right: auto;
            border-radius: 40px;
            color: #3CCACE;
            border: 1px solid #ffb340;
            li{
              padding: 6px 5px;
            }
          }
          &__report{
            margin: 10px 0 0;
            display: flex;
            border-radius: 4px;
            color: #333;
            border: 1px solid #333;
            text-decoration: none;
            li{
              padding: 6px 5px;
            }
          }
        }
      }
      &__comment{
        padding: 24px;
        background-color: #fff;
        margin: 10px 0;
        text-align: center;
        &__field{
          &--input{
            width: 100%;
            min-height: 104px;
          }
        }
        &__text{
          padding: 8px;
          font-size: 14px;
          background-color: #f8f8f8;
          margin: 10px 0;
          text-align: left;
        }
        &__btn{
          font-size: 18px;
          line-height: 48px;
          background: #3CCACE;
          border: 1px solid #3CCACE;
          color: #fff;
          width: 60%;
          font-size: 18px;
          border-radius: 100px;
        }
        &__icon{
          color: white;
          position: relative;
          right: 280px;
        }
      }
    }
    &__links{
      display: flex;
      justify-content: space-between;
      a{
        color: #3CCACE;
        text-decoration: none;
      }
    }
    &__relatedItems{
      display: block;
      margin: 24px 0 8px;
      color: #3CCACE;
      text-decoration: none;
      font-size: 22px;
      position: relative;
      font-weight: bold;
    }
  }
}