.top__header {
  padding: 0 60px;

  a {
    color: black;
    text-decoration: none;
  }

  &__inner {
    max-width: 1040px;
    width: 100%;
    min-height: 82px;
    margin: 0 auto;
    padding: 15px 0 0;

    &__main {
      position: relative;
      display: flex;
      align-items: center;

      &__icon {
        &__logo {
          padding-bottom: 10px;
          margin-right: 30px;
          border-radius: 4px;
        }
      }

      &__search {
        margin-left: auto;
        width: 100%;

        &__box {
          width: 100%;
          display: flex;
          margin-bottom: 5px;

          &__text {
            width: calc(100% - 26px);
            height: 30px;
            padding: 0 0 0 5px;
          }

          &__submit {
            width: 18px;
            border: 0px;
            cursor: pointer;
            background-color: #3CCACE;
            padding: 8px;
            height: 18px;
          }
        }
      }
    }

    &__nav {
      display: flex;
      font-size: 14px;
      justify-content: space-between;
      // margin-bottom: 10px;

      &__left {
        display: flex;
        position: relative;

        &__category {
          // text-decoration: none;
          // padding: 0;
          // color: #333;
          // text-decoration: none;
          // line-height: 32px;
          // background-position: center right;
          // background-repeat: no-repeat;
          // background-size: 18px;
          // padding-right: 30px;
        }

        &__brand {
          color: #333;
          text-decoration: none;
          line-height: 32px;
          background-position: center right;
          background-repeat: no-repeat;
          background-size: 18px;
          padding-right: 30px;
        }
      }

      &__right {
        // margin-left: auto;
        // display: flex;

        &__login {
          display: flex;
          align-items: center;
          color: #333;
          text-decoration: none;
          line-height: 32px;
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
        }

        &__new {
          display: flex;
          align-items: center;
          color: #333;
          text-decoration: none;
          line-height: 32px;
          color: #333;
          line-height: 38px;
          padding: 0 0 0 16px;
        }
      }
    }
  }
}