.show-main__registration-field
  =form_for root_path do |f|
    .show-main__registration-field--text
      クレジットカード情報登録
    .show-main__registration-field__container
      .show-main__registration-field__container__number
        %label.show-main__registration-field__container__number--text
          カード番号
        %span.form-require
          必須
        = f.text_field :card_number, class: "show-main__registration-field__container__number--input"
      .show-main__registration-field__container__expiration
        %label.show-main__registration-field__container__expiration--text
          有効期限
        %span.form-require
          必須
        .show-main__registration-field__container__expiration--input
        != sprintf(f.date_select(:expiration_date,with_css_classes:'XXXXX', order:[:month,:year,:day], use_month_numbers:true, discard_day:true, start_year:Time.now.year-2000, end_year:Time.now.year-2000+10, date_separator:'%s'),'月') + '年'
      .show-main__registration-field__container__security
        %label.show-main__registration-field__container__security--text
          セキュリティコード
        %span.form-require
          必須
        = f.text_field :card_number, class: "show-main__registration-field__container__security--input"
        .show-main__registration-field__container__security--information
          %span.show-main__registration-field__container__security--information-link
            =link_to root_path do
              %i.fas.fa-question-circle
              カードの裏面の番号とは？
      = f.submit class: "show-main__registration-field__container--submit", type: "submit", value: "クレジットカードの登録"