-# ビジュアル--------------------------------------------
.top__main__visual
  .top__main__visual__content
    %h1.top__main__visual__content__subtitle
      人生を変えるフリマアプリ
    %p.top__main__visual__content__text
      FURIMAは誰でも簡単に出品・購入できる
      %br
      フリマアプリです
    .top__main__visual__content__btn
      .top__main__visual__content__btn__abtn
        =link_to "#" do
          =image_tag asset_path('Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg'), height: '60', width: '155', class: 'top__main__visual__content__abtn__logo'
      .top__main__visual__content__btn__gbtn
        =link_to "#" do
          =image_tag asset_path('google-play-badge.png'), height: '80', width: '175',class: 'top__main__visual__content__gbtn-logo'
-# -------------------------------------------------------

-# イントロダクション-----------------------------------------------
.top__main__introduction
  %h2.top__main__introduction__subtitle
    FURIMAが選ばれる３つの理由
  %ul.top__main__introduction__lists
    %li.top__main__introduction__lists__list1
      .top__main__introduction__lists__list1__picture
        = image_tag asset_path("pict-reason-01.jpg"), height: "223",width: "223", alt: "顔写真"
        .top__main__introduction__lists__list1__picture__number
          1
      %h3.top__main__introduction__lists__list1__text
        %span 3分
        ですぐに出品
      %p.top__main__introduction__lists__list1__description
        スマホで入力するだけで簡単に出品できる！
    %li.top__main__introduction__lists__list2
      .top__main__introduction__lists__list2__picture
        = image_tag asset_path("pict-reason-02.jpg"), height: "223",width: "223", alt: "顔写真"
        .top__main__introduction__lists__list2__picture__number
          2
      %h3.top__main__introduction__lists__list2__text
        %span シンプル
        で使いやすい
      %p.top__main__introduction__lists__list2__description
        めんどくさい入力は必要なく、検索も購入もスムーズ！
    %li.top__main__introduction__lists__list3
      .top__main__introduction__lists__list3__picture
        = image_tag asset_path("pict-reason-03.jpg"), height: "223",width: "223", alt: "顔写真"
        .top__main__introduction__lists__list3__picture__number
          3
      %h3.top__main__introduction__lists__list3__text
        手数料 
        %span 業界最安
      %p.top__main__introductio__lists__list3__description
        最大3%でお得に出品&購入！
-# ----------------------------------------------------------

-# ミドル-----------------------------------------------------
.top__main__middle
  .top__main__middle__inner
    %h4.top__main__middle__inner__subtitle
      会員数日本一位
    %p.top__main__middle__inner__text
      FURIMAは、フリマアプリで最も人気。
      %br
      出品・購入回数も業界最多です！
      %br
      ほしかったあの商品に出会えるかもしれません。
    .top__main__middle__inner__btn
      .top__main__middle__inner__btn__abtn
        =link_to "#" do
          =image_tag asset_path('Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg'), height: '60', width: '155', class: 'top__main__middle__inner__btn__abtn__logo'
      .top__main__middle__inner__btn__gbtn
        =link_to "#" do
          =image_tag asset_path('google-play-badge.png'), height: '80', width: '175',class: 'top__main__middle__inner__btn__gbtn__logo'
-# ------------------------------------------------------------