.top__header
  .top__header__inner
    .top__header__inner__main
      %h1.top__header__inner__main__icon
        =link_to "#" do
          = image_tag asset_path('/assets/logo.png'), height: '40', width: '140', class: 'top__header__inner__main__icon__logo'
      .top__header__inner__main__search__box
        %input{type: "text", class: "top__header__inner__main__search__box__text", placeholder: "キーワードから探す"}
        .top__header__inner__main__search__box__submit
          =link_to "#" do
            =image_tag '/assets/icon-search 1.png', height: '20', width: '20', class: 'top__header__inner__main__search__box__submit__btn'
    .top__header__inner__nav
      %ul.top__header__inner__nav__left
        %li.top__header__inner__nav__left__category
          =link_to "#" do
            カテゴリー
        %li.top__header__inner__nav__left__brand
          =link_to "#" do
            ブランド
      %ul.top__header__inner__nav__right
        %li.top__header__inner__nav__right__login
          =link_to "#" do
            ログイン
        %li.top__header__inner__nav__right__new
          =link_to "#" do
            新規会員登録