.top__banner
  .top__banner__inner
    .top__banner__inner--text
      %p.top__banner__inner--text--top だれでもかんたん、人生を変えるフリマアプリ
      %p.top__banner__inner--text--bottom 今すぐ無料ダウンロード！
      %ul.top__banner__inner--badge
        %li
          = image_tag "/assets/Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg", class: "top__banner__inner--badge--apple"
        %li 
          = image_tag "/assets/google-play-badge.png", class: "top__banner__inner--badge--google"