.top__main__middle
  .top__main__middle__inner
    %h4.top__main__middle__inner__subtitle
      会員数日本一位
    %p.top__main__middle__inner__text
      FURIMAは、フリマアプリで最も人気。
      %br
      出品・購入回数も業界最多です！
      %br
      ほしかったあの商品に出会えるかもしれません。
    .top__main__middle__inner__btn
      .top__main__middle__inner__btn__abtn
        =link_to "#" do
          =image_tag '/assets/Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg', height: '60', width: '155', class: 'top__main__middle__inner__btn__abtn__logo'
      .top__main__middle__inner__btn__gbtn
        =link_to "#" do
          =image_tag '/assets/google-play-badge.png', height: '80', width: '175',class: 'top__main__middle__inner__btn__gbtn__logo'
