.top__main__visual
  .top__main__visual__content
    %h1.top__main__visual__content__subtitle
      人生を変えるフリマアプリ
    %p.top__main__visual__content__text
      FURIMAは誰でも簡単に出品・購入できる
      %br
      フリマアプリです
    .top__main__visual__content__btn
      .top__main__visual__content__btn__abtn
        =link_to "#" do
          =image_tag '/assets/Download_on_the_App_Store_Badge_JP_RGB_blk_100317.svg', height: '60', width: '155', class: 'top__main__visual__content__abtn__logo'
      .top__main__visual__content__btn__gbtn
        =link_to "#" do
          =image_tag '/assets/google-play-badge.png', height: '80', width: '175',class: 'top__main__visual__content__gbtn-logo'

