%li.child
  =link_to category_path(children.id), class: "child-link" do
    = children.name
  %ul.grand-child-wrap
    -# = render partial: "categories/grandchild", collection: children.children, as: "grandchild"
