%li.child
  =link_to '##', class: "child-link" do
    = children.name
  %ul.grand-child-wrap
    -# = render partial: "categories/grandchild", collection: children.children
    = render partial: "categories/grandchild", collection: children.children, as: "grandchild"